# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Key files
*.key
*.csr
*.crt

# database files
*.db
db/

# OSX specific files
.DS_Store

# generated / private files and directories
playground/
vendor/
go.work*
internal/encode/fcbench/bench_results/*